
@media only screen and (max-width: 720px) {
  
    .signup_button {
      padding: 4px 8px;
      border-radius: 15px;
      font-size: 12px;
    }
    
    .header button {
      padding: 4px 22px;
      border-radius: 5px;
      font-size: 12px;
    }
    .count-numbers{
      margin: 18px;
    }
    .count-numbers div:nth-child(1) {
      padding: 7px;
      border-radius: 8px;
      font-size: 15px;
      margin: 9px;
      width: 35px;
      height:35px;
    }
    .count-numbers input:nth-child(2) {
      padding: 9px;
      border-radius: 8px;
      font-size: 20px;
      margin: 9px;
      width: 50px;
      height: 35px;
    }
    .count-numbers div:nth-child(3) {
      padding: 9px;
      border-radius: 8px;
      font-size: 20px;
      margin: 9px;
      width: 35px;
      height: 35px;
    }
    .gold_plan-head {
      font-size: 1.2rem;
    }
    .gold_quantity {
      font-size: 1.0rem;
      opacity: 0.7;
      letter-spacing: 1px;
      margin: 12px 0px;
    }
    .gold_quantity span {
      font-size: 2.0rem;
    }
    .submit_button{
      font-size: 1.0rem;
      padding: 7px 30px;
      border-radius: 8px;
      margin:11px 18px;
    }
    
    .gold_plan {
      margin:18px 0px;
      border-radius: 16px;
    }
    
    .gold_mark {
      padding: 7px 13px;
      font-size: 0.8rem;
      border-radius: 15px;
      margin: 13px;
    }
    .plan_box {
      padding: 6px 4px;
      width: 20rem;
      height: 10rem;
      margin: 6px;
      border-radius: 15px;
    }
    .select_duration{
      font-size: 1.2rem;
      margin: 13px 8px;
    }
    
    .ques_para{
      font-size: 1.5rem;
      margin: 14px 0px;
    }

    .brand p{
      font-size: 0.9rem;
    }
    
    .brand_button{
      width: 80%;
      margin: 25px 0px;
    }
    .brand_button button:nth-child(1){
     padding:7px 18px;
     width: 50%;
     font-size: 1.0rem;
     border-bottom-left-radius: 8px;
     border-top-left-radius: 8px;
    }
    .brand_button button:nth-child(2){
      padding:7px 18px;
      width: 50%;
      font-size: 1.0rem;
      border-bottom-right-radius: 8px;
     border-top-right-radius: 8px;
     }
     .steper_form{
        margin: 40px 0px;
      }
    
    .content_title h1{
      font-size: 2.2rem;
    }
    .content_title h6{
      font-size: 1.0rem;
      margin: 11px 0px;
    }
    
    .plan_select_button{
      padding: 3%;
      border-bottom-right-radius: 20px;
      border-bottom-left-radius: 20px;
    }
    .plan_select_button p{
      font-size: 1.0rem;
    }
    .plan_select_button button{
      width: 45%;
      font-size: 1.0rem;
      padding: 10px 20px;
      border-radius: 8px;
      margin:25px 0px;
    }
    
    .plan_box div:nth-child(3) {
      width: 100%;
      padding: 5px 5px;
      font-size: 17px;
    }
    .plan_box p:nth-child(1) {
      font-size: 17px;
    }
    .plan_box p:nth-child(2) {
      margin: 25px 0px;
      font-size: 27px;
    }
    .plan_box_selected .plan_selected {
      right: 9px;
      top: 9px;
      width: 25px;
      height: 25px;
      border-radius: 50%;
    }
          
    .select_notify {
      font-size: 1.4rem;
      letter-spacing:0px;
      margin: 17px 0px;
    }
    .select_notify1 {
      font-size: 1.5rem;
      margin: 16px 0px;
    }
    .range-box {
      width: 80%;
      border-radius: 14px;
      margin: 16px 0px;
    }
    
    .range_button {
      padding: 10px 12px;
      margin: 8px;
      width: 31%;
      font-size: 18px;
    }
  
    
    .range_button:nth-child(3) {
      border-bottom-right-radius: 15px;
      border-top-right-radius: 15px;
    }
    .range_button:nth-child(1) {
      border-bottom-left-radius: 15px;
      border-top-left-radius: 15px;
    }
    
    .offer_detail {
      padding: 17px;
      border-radius: 16px;
      margin: 28px 0px;
    }
    
    .offer_box {
      width: 65%;
    }
    .offer_head {
      font-size: 1.9rem;
    }
    .offer_quantity {
      font-size: 1.0rem;
      margin: 17px 0px;
      opacity: 0.7;
    }
    .offer_quantity span {
      font-size: 1.8rem;
    }
    .offer_description {
      font-size: 1.0rem;
      margin: 17px 0px;
      opacity: 0.7;
    }
    .offer_tag {
      margin: 8px 0px;
      font-size: 1.0rem;
      padding: 8px 10px;
      border-radius: 18px;
    }
    .offer_tag i {
      font-size: 1.0rem;
      margin: 0px 8px;
    }
    .amount_box {
      width: 35%;
    }
    .amount_box p {
      font-size: 2.0rem;
      margin: 18px auto;
    }
    .amount_box button {
      font-size: 1.0rem;
      padding: 7px 13px;
      border-radius: 7px;
    }
    .page {
      padding: 8px 13px;
      font-size: 18px;
      border-radius: 10px;
    }
}